<div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="images/rocket.png"/>
    </div>

    <div class="col-lg-4" style="padding-top : 150px;">

        <h1 style="margin-bottom : 50px">App &amp; Zo</h1>


        <p>We zijn gestart!, App &amp; zo is een project van Stad &amp; Esch om samen met een groepje leerlingen apps te gaan ontwikkelen. En dit doen als een echte startup. </p>

        <p>Elke vrijdagmiddag werken we aan ons project en elke twee weken geven we ook een presentatie over onze voortgang aan onze opdrachtgever.</p>

        <p>En wie is onze opdrachtgever/klant? Onze eerste klant is Stad &amp; Esch. We gaan een app ontwikkelen voor de Open Dag in januari!</p>


    </div>


  <div class="col-lg-3">
    <div style="margin-top : 150px;"> </div>
    <img src="images/IMG_1820.jpg" class="img-responsive img-rounded" width="75%" />
  </div>
    <div class="col-lg-1">

    </div>

</div>
